
body{
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-large;
  font-weight: 700;
  margin-left: 125px;
  text-align: center;
  font-size: 18px;
  width: 1050px;
  align-items: center;
  margin-top: 100px;
  padding: 30px;
  color:black;
  border:#C2E6F4;
  border-block-color: #C2E6F4;
  border-style: solid;
  border-radius: 20px;
  background-color: whitesmoke;
  justify-content: center
}

